{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <h4>{{ form_title }}</h4>
        {% crispy form %}
    </div>
{% endblock content %}


{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const schoolField = document.querySelector('#id_student-school');
            const gradeField = document.querySelector('#id_student-grade');
            const rollNo = document.getElementById("id_student-roll_no");
            const admissionNo = document.getElementById("id_student-admission_no");
            const studentCnic = document.getElementById("id_student-student_cnic");
            const fatherCnic = document.getElementById("id_student-father_cnic")
            const mobile = document.getElementById("id_student-mobile")

            studentCnic.value = '15604-'
            fatherCnic.value = '15604-'
            mobile.value = '0333-'


            // add event listener to roll_no field
            rollNo.addEventListener("input", function () {
                // check if the input value is less than or equal to 0
                if (this.value <= 0) {
                    this.value = 1; // clear the input value
                }
            });

            // add event listener to admission_no field
            admissionNo.addEventListener("input", function () {
                // check if the input value is less than or equal to 0
                if (this.value <= 0) {
                    this.value = 1; // clear the input value

                }
            });

            function numericStringMask(str, mask) {
                if (!mask) return str;

                const numeric = str.replaceAll(/[^\d]/g, '');

                let idx = 0;

                const formated = mask.split('').map(el => {
                    if (el === '#') {
                        el = numeric[idx];
                        idx++;
                    }
                    return el;
                });

                return formated.join('');
            }

            const cnicFields = [studentCnic, fatherCnic];
            cnicFields.forEach(function (inputField) {
                inputField.addEventListener("input", function (event) {
                    // Get the current value of the input field
                    inputField.value = numericStringMask(inputField.value, '#####-#######-#');
                    if (inputField.value.length === 14) {
                        inputField.value = numericStringMask(inputField.value, '#-###########-#');
                    }
                });
            });
            mobile.addEventListener('input', function (event) {
                mobile.value = numericStringMask(mobile.value, '####-#######')
            })


            rollNo.addEventListener("input", function () {
                admissionNo.value = rollNo.value;
            });

            schoolField.addEventListener('change', () => {
                const schoolId = schoolField.value;
                if (schoolId) {
                    const xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            const grades = JSON.parse(this.responseText);
                            gradeField.innerHTML = '';
                            for (const key in grades) {
                                if (grades.hasOwnProperty(key)) {
                                    const option = document.createElement('option');
                                    option.text = grades[key].name;
                                    option.value = key;
                                    gradeField.add(option);
                                }
                            }
                        }
                    };
                    xhr.open('GET', `/get-grades/${schoolId}/`, true);
                    xhr.send();
                }
            });


        });

        function saveFilters(schoolId, classId) {
            localStorage.setItem('schoolId', schoolId);
            localStorage.setItem('classId', classId);
        }

        // Load school and class filters from local storage
        function loadFilters() {
            const schoolId = localStorage.getItem('schoolId');
            const classId = localStorage.getItem('classId');
            if (schoolId) {
                document.querySelector('#id_student-school').value = schoolId;
            }
            if (classId) {
                document.querySelector('#id_student-grade').value = classId;
            }
        }

        // Attach event listener to school and class filters
        document.querySelector('#id_student-school').addEventListener('change', function () {
            let schoolId = this.value;
            const classId = document.querySelector('#id_student-grade').value;
            saveFilters(schoolId, classId);
            setTimeout(() => {
                let schoolId = this.value;
                const classId = document.querySelector('#id_student-grade').value;
                saveFilters(schoolId, classId);
            }, 1000)
        });

        document.querySelector('#id_student-grade').addEventListener('change', function () {
            let schoolId = document.querySelector('#id_student-school').value;
            const classId = this.value;
            saveFilters(schoolId, classId);
        });

        // Load filters on page load
        window.addEventListener('load', function () {
            loadFilters();

        });
    </script>
{% endblock javascript %}