{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <h4>Add New Student</h4>
        {% crispy form %}
    </div>
{% endblock content %}


{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const schoolField = document.querySelector('#id_student-school');
            const gradeField = document.querySelector('#id_student-grade');
            const rollNo = document.getElementById("id_student-roll_no");
            const admissionNo = document.getElementById("id_student-admission_no");
            const studentCnic = document.getElementById("id_student-student_cnic");
            const fatherCnic = document.getElementById("id_student-father_cnic")
            const mobile = document.getElementById("id_student-mobile")

            studentCnic.value = '15604-'
            fatherCnic.value = '15604-'
            mobile.value = '0333-'

            function numericStringMask(str, mask) {
                if (!mask) return str;

                const numeric = str.replaceAll(/[^\d]/g, '');

                let idx = 0;

                const formated = mask.split('').map(el => {
                    if (el === '#') {
                        el = numeric[idx];
                        idx++;
                    }
                    return el;
                });

                return formated.join('');
            }

            const cnicFields = [studentCnic, fatherCnic];
            cnicFields.forEach(function (inputField) {
                inputField.addEventListener("input", function (event) {
                    // Get the current value of the input field
                    inputField.value = numericStringMask(inputField.value, '#####-#######-#');
                });
            });
            mobile.addEventListener('input', function(event){
                mobile.value = numericStringMask(mobile.value, '####-#######')
            })


            rollNo.addEventListener("input", function () {
                admissionNo.value = rollNo.value;
            });

            schoolField.addEventListener('change', () => {
                const schoolId = schoolField.value;
                if (schoolId) {
                    const xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            const grades = JSON.parse(this.responseText);
                            gradeField.innerHTML = '';
                            for (const key in grades) {
                                if (grades.hasOwnProperty(key)) {
                                    const option = document.createElement('option');
                                    option.text = grades[key].name;
                                    option.value = key;
                                    gradeField.add(option);
                                }
                            }
                        }
                    };
                    xhr.open('GET', `/get-grades/${schoolId}/`, true);
                    xhr.send();
                }
            });
        });
    </script>
{% endblock javascript %}