{% extends '_base.html' %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="d-flex flex-wrap justify-content-around">
            <div class=" card card--custom rounded px-5 mb-5 col-4">
                <div class="content py-5 pt-3 text-center">
                    <h3><i class="bi bi-person"></i> Student</h3>

                    <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add</div>
                    <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>Search</div>
                    <div class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Edit</div>
                    <div class="m-1 btn btn-outline-danger"><i class="bi bi-trash2"></i>Delete</div>
                </div>

            </div>
            <div class="card card--custom rounded px-5 mb-5 ">
                <div class="content py-5 pt-3 text-center">
                    <h3><i class="bi bi-person-check"></i> Examination</h3>

                    <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add Marks</div>
                    <div class="m-1 btn btn-outline-primary"><i class="bi bi-plus-circle-fill"></i>Batch Add</div>
                    <div class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Batch Edit</div>
                </div>

            </div>
            <div class=" card card--custom rounded px-5 mb-5">
                <div class="content py-5 pt-3 text-center">
                    <h3><i class="bi bi-flag"></i> Result</h3>

                    <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add Marks</div>
                    <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>Batch Add</div>
                    <div class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Batch Edit</div>
                </div>

            </div>

            <div class=" card card--custom rounded px-5 mb-5">
                <div class="content py-5 pt-3 text-center">
                    <h3><i class="bi bi-person-check"></i> School</h3>

                    <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add School</div>
                    <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>List School</div>
                    <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>Edit School</div>

                    <div class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Delete School</div>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}