/* Custom button styles */
.btn-custom {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Primary button */
.btn--primary-custom {
  background: linear-gradient(to bottom, #007bff, #0060b6);
  color: #fff;
}

/* Secondary button */
.btn--secondary-custom {
  background: linear-gradient(to bottom, #6c757d, #5a6268);
  color: #fff;
}

/* Success button */
.btn--success-custom {
  background: linear-gradient(to bottom, #28a745, #1f9037);
  color: #fff;
}

/* Danger button */
.btn--danger-custom {
  background: linear-gradient(to bottom, #dc3545, #b90d24);
  color: #fff;
}

/* Warning button */
.btn--warning-custom {
  background: linear-gradient(to bottom, #ffc107, #d69e03);
  color: #000;
}

/* Hover and focus states for all buttons */
.btn-custom:hover, .btn-custom:focus {
  opacity: 0.8;
  transform: translateY(-1px);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  color:white;
}
