.card--custom {
  background: linear-gradient(135deg, #576574, #6c5ce7);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px #333;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  margin: 20px;
}

.card--custom:hover {
  transform: scale(1.05);
}
