nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
}

.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #ff5722;
}

.user-info {
    display: block;
    color: white;
}

.login a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    cursor: pointer;
}

.menu-button span {
    display: block;
    height: 3px;
    width: 25px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 20px;
        z-index: 9999;
    }

    .menu li {
        margin: 0;
        margin-bottom: 20px;
    }

    .menu li:last-child {
        margin-bottom: 0;
    }

    .menu li a {
        font-size: 24px;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .menu li a:hover {
        background-color: #ff5722;
    }

    .user-info {
        display: block;
        color: #fff;
        font-size: 16px;
        margin-right: 20px;
    }

    .login {
        display: block;
        margin-right: 20px;
    }

    #menu-toggle:checked + .menu-button span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    #menu-toggle:checked + .menu-button span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-button span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .menu-button {
        display: block;
    }

}
