.table td, .table th {
    border: none;
}

@media (max-width: 768px) {

    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 2rem;
    }
    .table tbody tr td {
        text-align: right;
        padding-left: 5rem;
        position: relative;
    }
    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 1.5rem;
        font-weight: 800;
        font-size: 1.1rem;
        width:50%;
        text-align: left;
    }
}