{% extends '_base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row mx-auto d-flex  justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class=" card card--custom rounded px-5 mb-3">
                    <div class="content py-5 pt-3 text-center">
                        <h3><i class="bi bi-person"></i> Student</h3>

                        <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add</div>
                        <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>Search</div>
                        <div class="m-1 btn btn-outline-warning "><i class="bi bi-pencil"></i>Edit</div>
                        <div class="m-1 btn btn-outline-danger"><i class="bi bi-trash2"></i>Delete</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card card--custom rounded px-5 mb-3 ">
                    <div class="content py-5 pt-3 text-center">
                        <h3><i class="bi bi-person-check"></i> Examination</h3>

                        <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add Marks</div>
                        <div class="m-1 btn btn-outline-primary"><i class="bi bi-plus-circle-fill"></i>Batch Add</div>
                        <div class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Batch Edit</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">


                <div class="card card--custom rounded px-5 mb-3">
                    <div class="content py-5 pt-3 text-center">
                        <h3><i class="bi bi-flag"></i> Result</h3>

                        <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add Marks</div>
                        <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>Batch Add</div>
                        <div class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Batch Edit</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                <div class="card card--custom rounded px-5 mb-3">
                    <div class="content py-5 pt-3 text-center">
                        <h3><i class="bi bi-buildings-fill"></i> School</h3>

                        <a href="{% url 'school_create' %}" class="m-1 btn btn-outline-primary"><i class="bi bi-plus"></i>Add School</a>
                        <a href="{% url 'school' %}" class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>List School</a>
                        <a href="{% url 'school' %}" class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>Edit School</a>
                        <a href="{% url 'school' %}" class="m-1 btn btn-outline-warning"><i class="bi bi-pencil"></i>Delete School</a>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                <div class="card card--custom rounded px-5 mb-3">
                    <div class="content py-5 pt-3 text-center">
                        <h3><i class="bi bi-c-circle-fill"></i> Class</h3>

                        <div class="m-1 btn btn-outline-primary"><i class="bi bi-person-plus"></i>Add Class</div>
                        <div class="m-1 btn btn-outline-secondary"><i class="bi bi-search"></i>List Class</div>
                        <div class="m-1 btn btn-outline-warning"><i class="bi bi-search"></i>Edit Class</div>
                        <div class="m-1 btn btn-outline-danger"><i class="bi bi-trash2"></i>Delete Class</div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock content %}