{% extends '_base.html' %}
{% block content %}
    <div class="container-fluid">
        <h2>All Registered Schools</h2>
        <div class="row mx-auto d-flex  justify-content-start">
            <div class="col-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th> Name</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for school in schools %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ school.name }}
                                </td>
                                <td>
                                    <a class="link-primary" href="{{ school.get_form_url }}"> Edit</a>
                                </td>
                                <td>
                                    <a class="link-success" href="{{ school.get_absolute_url }}"> Details</a>
                                </td>
                                <td>
                                    <a class="link-danger" href="{{ school.get_delete_url }}">Delete </a>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a class="btn btn-secondary" href="{% url 'school:create' %}">Add Another</a>
            </div>
        </div>
    </div>
{% endblock content %}